#submit-book h2 {
    width: 100%;
    text-align: center;
}

.submit-book-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 40px 0px;
}

#submit-book .form-control {
    margin: 15px;
    width: 96%;
    /* width: 9; */
}

#submit-book label {
    display: block;
    width: fit-content;
    margin-bottom: 10px;
}

#submit-book input {
    float: left;
}

#submit-book input[type="text"], 
#submit-book textarea,
#submit-book input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#submit-book textarea {
    resize: none;
}

#submit-book input[type="text"]:focus,
#submit-book textarea:focus,
#submit-book input[type="number"]:focus {
    box-shadow: 0px 0px 5px rgb(33, 122, 255);
    outline: none;
}
/* input#file-upload-button {
    padding: 20px !important;
} */

#submit-book .submit-book-btn {
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 20px;
    min-width: 150px;
    color: #fff;
    background-color: rgb(7, 91, 247);
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 20px;
}

#submit-book .submit-book-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(7, 91, 247);
}