#market-place {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market-place-row {
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.market-place-item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex-basis: 30%;
    padding: 15px;
    justify-content: space-between;
}

.market-place-item-img {
    width: 50%;
    align-self: center;
    margin: 20px 0px 10px 0px;
}

.market-place-item-content {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.market-place-item-content label {
    margin: 10px;
    /* padding: 5px 0px; */
    font-weight: 600;
}


.market-place-item-action {
    display: flex;
    flex-direction: column;
    margin: 5px 20px 0px;
}

.market-place-item-action label {
    font-weight: 600;
}

.market-place-item-action label,
.market-place-item-action input, 
.market-place-item-action button{
    margin: 10px;
}

.market-place-item-action input {
    width: 70%;
    padding: 20px 10px;
    border: none;
    background-color: #F6F6F6;
}

.market-place-item-action input:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.644);
}

.market-place-item-action button {
    width: 70%;
    padding: 20px;
    cursor: pointer;
}

.market-place-item-action .change-price-btn {
    background-color: rgb(53, 185, 27);
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.market-place-item-action .remove-btn {
    background-color: rgb(223, 37, 37);
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.market-place-item-action .remove-btn:hover {
    color: rgb(223, 37, 37);
}

.market-place-item-action .change-price-btn:hover {
    color: rgb(53, 185, 27);
}

.market-place-item-action button:hover {
    background-color: #fff;
}

